# Pastas e arquivos de ambiente virtual
venv/
venv_igreja/

# Arquivos de banco de dados
*.sqlite3

# Arquivos compilados do Python
__pycache__/

# Outros arquivos que podem ser gerados
.DS_Store

# Pastas que não devem ser versionadas
membros/
static/
templates/venv_igreja/
__pycache__/
