# Pastas e arquivos de ambiente virtual

venv_igreja/

# Arquivos de banco de dados


# Arquivos compilados do Python
__pycache__/

# Outros arquivos que podem ser gerados


# Pastas que não devem ser versionadas
__pycache_
